{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Register
{% endblock %}

{% block body_block %}
  <h1>Register with Rango</h1>
  {% if registered %}
    Rango says: <strong>thank you for registering!</strong>
    <a href="{% url 'index' %}">Return to the homepage.</a><br />
  {% else %}
    Rango says <strong>register here!</strong> Click <a href="{% url 'index' %}">here</a> to go to the homepage<br />
    <form Id="user_form" action="{% url 'register' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {{ user_form.as_p }}
      {{ profile_form.as_p}}

      <input type="submit" name="submit" value="Register" />

    </form>
  {% endif %}
{% endblock %}
